.App {
  padding-left: 20px;
  padding-top: 30px;
}

.blackbar{
  background-color: black;
  width: 80%;
  color: white;
  padding: 5px;
  display: flex;

}
s
/* 이미지 읽기용 */
.img_bg{
  width: 350px;
  height: 350px;
  background-image: url('./pic2.png');
}
